asgiref==3.2.7
dj-database-url==0.5.0
Django==3.0.6
django-crispy-forms==1.9.1
django-extensions==2.2.9
django-werkzeug==1.0.0
gunicorn==20.0.4
pkg-resources==0.0.0
psycopg2-binary==2.8.5
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
Werkzeug==1.0.1
whitenoise==5.0.1
