{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content1 %}

<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

<main>
<div class="login-clean">

<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form|crispy}}
	<input type="Submit" name="Update Password">

</form>
</div>
</main>
{% endblock %}