{%load crispy_forms_tags %}


<div id="add-activity-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <form method="POST">


                <div class="modal-body">

                    {{form|crispy}} {%csrf_token%}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Add Activity</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>