{% extends 'base.html'%} {% block content1 %}
<main>
    <div class="container d-flex flex-column">

        <div class="row mb-1 mt-5 week-nav">
            <div class="col">
                <button class="btn btn-outline-secondary">Previous</button>
            </div>

            <div class="col">
                <p style="text-align: center;">This week's activities</p>
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary float-right">Next</button>

            </div>
        </div>
        {%if userrole is 1%}
        <button class="btn my-4 ml-auto btn-secondary" data-toggle="modal" data-target="#add-activity-modal"><i
            class="fa fa-plus"></i>Add Activity</button> {%include 'add-activity-modal.html'%} {%endif%}
        <style>
            .activity {
                background-color: #e8e8e8;
                border: 1px solid black;
            }
            
            .activity button {
                padding: 0 5px 0 5px;
                margin-bottom: 10px;
            }
        </style>

        <div class="row">
            {%for activity in allActivities%}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Activity: {{activity.name}}</h5>

                        <p class=""> {{activity.name}} </p>
                        <p>From: {{activity.start_time}} </p>
                        <p>To: {{activity.end_time}} </p>
                        {%if userrole is 2 %} {%if user.myChildren.count > 0%}
                        <button data-toggle="dropdown" class="btn btn-primary float-right"><i class="fa fa-caret-down"></i>Enroll My Child</button>

                        <!--aria-haspopup="true" aria-expanded="false"-->

                        <div style="background: transparent;border:none;" class="dropdown-menu">
                            {%for child in user.myChildren.all%}
                            <form method="post">
                                {%csrf_token%}
                                <input name="childId" value="{{child.id}}" type="hidden">
                                <input name="activityId" value="{{activity.id}}" type="hidden">
                                <button type="submit" class="btn mb-1 btn-outline-secondary">{{child.name}}</button><br>


                            </form>
                            {% endfor %}
                        </div>
                        {%else%}
                        <button data-toggle="dropdown" class="btn btn-primary float-right"><i class="fa fa-caret-down"></i>You do not have any children to enroll</button> {%endif%} {%endif%}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>



    </div>
</main>

{% endblock%}