<div class="row mt-5 mb-1 week-nav">
    <div class="col">
        <div class="row">
            <div class="col">
                <p style="text-align: center;"> This weeks activities: {{dates.start_date}} to {{dates.end_date}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-secondary">Previous</button>

            </div>

            <div class="col">
                <button class="btn btn-outline-secondary float-right">Next</button>
            </div>

        </div>



    </div>

</div>