

{% extends 'base.html' %}

{% block content1 %}



<main>
    <div class="container">
        <!-- above code will be not included in the final version -->





        <div class="row my-5 week-nav">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class='align-items-center'> This weeks activities: 22/4/2020 to 29/4/2020 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-secondary">Previous</button>

                    </div>

                    <div class="col">
                        <button class="btn btn-outline-secondary float-right">Next</button>
                    </div>

                </div>



            </div>

        </div>

        <style>
            .activity {
                background-color: #e8e8e8;

                border: 1px solid black;
            }

            .activity button {
                padding: 0 5px 0 5px;
                margin-bottom: 10px;
            }
        </style>

        <div class="row activities my-3">
            <div class="col-md-5 my-3 mx-3 activity">
                <p>soccer </p>
                <p>time: 12-2:00pm</p>
                <p>date: 23/04/2020</p>
                <button class='btn btn-primary float-right'>Enroll my child</button>
            </div>
            <div class="col-md-5 my-3 mx-3 activity">
                <p>soccer </p>
                <p>time: 12-2:00pm</p>
                <p>date: 23/04/2020</p>
                <button class='btn btn-primary float-right'>Enroll my child</button>
            </div>
            <div class="col-md-5 my-3 mx-3 activity">
                <p>soccer </p>
                <p>time: 12-2:00pm</p>
                <p>date: 23/04/2020</p>
                <button class='btn btn-primary float-right'>Enroll my child</button>
            </div>
            <div class="col-md-5 my-3 mx-3 activity">
                <p>soccer </p>
                <p>time: 12-2:00pm</p>
                <p>date: 23/04/2020</p>
                <button class='btn btn-primary float-right'>Enroll my child</button>
            </div>
            <div class="col-md-5 my-3 mx-3 activity">
                <p>soccer </p>
                <p>time: 12-2:00pm</p>
                <p>date: 23/04/2020</p>
                <button class='btn btn-primary float-right'>Enroll my child</button>
            </div>

        </div>







    </div>

</main>




{% endblock %}
