{% extends 'base.html' %} {% block content1 %}



<main>
    <div class="container d-flex flex-column">
        <!-- above code will be not included in the final version -->




        {%include 'date-nav.html'%} {% if userrole is 1 %}
        <button class="btn my-4 ml-auto btn-secondary" data-toggle="modal" data-target="#add-activity-modal"><i
                class="fa fa-plus"></i>Add Activity</button> {% include 'add-activity-modal.html' %} {% endif %}
        <style>
            .activity {
                background-color: #e8e8e8;
                border: 1px solid black;
            }
            
            .activity button {
                padding: 0 5px 0 5px;
                margin-bottom: 10px;
            }
        </style>

        <div class="row activities my-3">

            {%for activity in allActivities%}
            <div class="col-sm-6 ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{activity.name}}</h5>
                        <p>Date: {{activity.date}}</p>
                        <p>From: {{activity.start_time}} </p>
                        <p>Duration: {{activity.dur_str}} </p>

                        <!-- if the user is parent then -->
                        {% if userrole is 2 %} {% if user.myChildren.count > 0 %}
                        <!-- if the user has kids then -->
                        <button data-toggle="dropdown" class="btn btn-primary float-right">Enroll My Child <i class="fa fa-caret-down"></i></button>
                        <div style='background:transparent;border:none;' class="dropdown-menu">
                            {% for child in user.myChildren.all %}
                            <form method="post">
                                {%csrf_token%}
                                <input name="childId" value="{{child.id}}" type="hidden">
                                <input name="activityId" value="{{activity.id}}" type="hidden">
                                <button type='submit' class="btn mb-1 btn-outline-secondary">{{child.name}}</button >
                                    </form>

                                {% endfor %}                            
                            </div>
                            {% else %}
                            <button disabled class="btn btn-primary float-right">You do not have any kids in your account</button> {% endif %} {% endif %} {%if userrole is 1%}
                                <div class="button-group">
                                    <button data-toggle="dropdown" class="btn btn-secondary float-right">Actions <i class="fa fa-caret-down"></i></button>
                                    <div style='background:transparent;border:none;' class="dropdown-menu">

                                        <a class="btn mb-1 btn-outline-secondary" data-toggle="modal" data-target="#update-activity-modal-{{ activity.id}}"><i class="fas fa-edit"></i> Update</a><br> {% include 'update-activity-modal.html' %}

                                        <a class="btn btn-danger" data-toggle="modal" data-target="#removeActivityModal-{{activity.id}}"><i class="fas fa-trash"></i> Remove</a> {% include 'remove-activity-modal.html' %}



                                    </div>
                                </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>

        </div>

</main>




{% endblock %}