

{% extends 'base.html' %}

{% block content1 %}



<main>
    <div class="container d-flex flex-column">
        <!-- above code will be not included in the final version -->




        <div class="row mt-5 mb-1 week-nav">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p style="text-align: center;" > This weeks activities: 22/4/2020 to 29/4/2020 </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-secondary">Previous</button>

                    </div>

                    <div class="col">
                        <button class="btn btn-outline-secondary float-right">Next</button>
                    </div>

                </div>



            </div>

        </div>
        {% if userrole is 1  %}
        <button class="btn my-4 ml-auto btn-secondary" data-toggle="modal" data-target="#add-activity-modal"><i class="fa fa-plus"></i>Add Activity</button>
        {% include 'add-activity-modal.html' %}
        {% endif %}
        <style>
            .activity {
                background-color: #e8e8e8;

                border: 1px solid black;
            }

            .activity button {
                padding: 0 5px 0 5px;
                margin-bottom: 10px;
            }
        </style>

        <div class="row activities my-3">
            <div class="row">
                {%for activity in allActivities%}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Activity: {{activity.name}}</h5>
    
                            <p class=""> {{activity.name}} </p>
                            <p>From: {{activity.start_time}} </p>
                            <p>To: {{activity.end_time}} </p>
                            <button class="btn btn-primary float-right">Enroll My Child</button>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
    
    
            

        </div>

    </div>

</main>




{% endblock %}
