



<div id="add-child-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Child</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <form method="post" action="">

                    
                    <div class="modal-body">
                    <p class='lead'> Are you sure you want to remove this child from your account?</p>
                    
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
        </div>
    </div>
</div>