{% extends 'base.html' %}

{% block content1 %}



<main>
    <div class="container d-flex flex-column">
        <!-- above code will be not included in the final version -->




        {%include 'date-nav.html'%}
        {% if userrole is 1  %}
        <button class="btn my-4 ml-auto btn-secondary" data-toggle="modal" data-target="#add-activity-modal"><i
                class="fa fa-plus"></i>Add Activity</button>
        {% include 'add-activity-modal.html' %}
        {% endif %}
        {% include 'activities.html' %}

    </div>

</main>




{% endblock %}