{% extends 'base.html' %}

{% block content1 %}

<main>
        <!-- <h1>My details</h1><p>I am a {{user.roles.first}} and my name is {{user.username}}</p> -->
    <div class="container mt-5">
        <div class="row">
            {% include 'profile-section.html' %}
            <div class="col-8 userLists" >
                {% if userrole is 2 %}
                    <h1>MY CHILDREN</h1>
                    <button class="btn my-4 ml-auto btn-secondary" data-toggle="modal" data-target="#add-child-modal"><i class="fa fa-plus"></i>Add Child</button>
                    {% include 'childrenlist.html' %}
                {%else%}
                    <h1>My Activities</h1>
                    {% include 'date-nav.html' %}
                    {%include 'activities.html'%}
                {% endif %}
            </div>
        </div>
    </div>


</main>
{% include 'add-child-modal.html' %}
{% endblock %}