
<div class="col-4 profile">
    <div class="card">
        <!-- <img class="card-img-top" src="https://source.unsplash.com/random" alt="{{child.name}} PROFILE"> -->
        <div class="card-body">
            <h5 class="card-title">{{user.username}}'s Profile</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p> -->
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Role: {% if userrole == 2 %}Parent{%else %} Teacher{% endif %}</li>
            <li class="list-group-item">Address:{{child.address}}</li>
            <li class="list-group-item"> <a href=""> Parents' contact </a> </li>
            <li class="list-group-item"> <a href=""> Teachers' contact </a> </li>
        </ul>
        <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div> -->
    </div>
</div>